<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="eroare, erori, negasit, nu exista, trupa, formatie, prea, tarziu, romania, romaneasca, metal, thrash, fast, speed, death, extreme, extrem, muzica, chitara, tobe, bas, vocal">
        <meta name="description" content="Ai ajuns pe pagina dedicata erorilor site-ului trupei Prea Târziu. Prea Târziu este o formatie de Thrash Metal romaneasca formata din 3 membrii: Mircea, Costi si Brihac. Acest proiect a luat nastere dupa nenumarate repetitii in diferite sali din Bucuresti.">
        <title>Prea Tarziu - Eroare</title>
        
        <link rel="stylesheet" href="../../resurse/css/erori.css" type="text/css">
        <%- include("../fragmente/head.ejs");  %> 
    </head>
    <body>
        <%- include("../fragmente/navbar.ejs");  %> 
    <main>
        <div id="err-coloane">
            <br><br><br>
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<div>
				<h2><%- locals.titlu %></h2>
            </div>
            <div>
                <p><%- locals.text %></p>
            <div>
		</div>
        <br><br><br>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>